.pagination ul {
    margin-left: 10px;
}
.pagination li {
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}
.pagination li a {
    transition: 0.2s;
    display: block;
    width: 45px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 11px;
    background-color: #fff;
    /* background-color: #f7f7f7; */
    border-radius: 3px;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.15);

}
.pagination li a:hover {
    color: #666;
    box-shadow: none;
}
.pagination li .next {
    width: 120px;
}
.pagination .current a {
    color: #666;
    box-shadow: none;
}