{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<nav class="col-xs-12 page-header">
	<h4>Обо мне</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Обо мне</li>
	</ul>
</nav>
<section class="col-xs-12 about">
	<div class="col-xs-12 about-content">
		<div class="col-xs-12 col-sm-3 about-me-small">
			<div class="col-xs-12 im">
				<img src="{% static 'img/foto.jpg' %}"/>
				<h3><font color="#22ACF5">Pyth</font>man</h3>
				<p>Вячеслав Кандауров</p>
				<p>Frontend developer.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 about-me-big">
			<h3>Я веб разработчик, делаю сайты.</h3>
			<p>Разрабатываю с нуля, доработка существующих, редизайн сайтов,
			очистка от неиспользуеммого кода, рефакторинг кода,
			разработка отдельных элементов и скриптов.</p>
			<ul class="col-xs-12 widjet-tree">
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Коротко обо мне:</span>
					</a>
					<div class="dropdown-togle">
						<p>Люблю веб-разработку и всё, что с ней связано, а ещё люблю музыку — играю на гитаре. 
						Свободное время предпочитаю проводить с друзьями или за ноутбуком в поисках интересных 
						web решений. Нравится фильм Гарри Поттер, машина Tesla model 3, интересные технологии.
						Стремлюсь к полной автономии, раскрытию своего потенциала, учиться у лучших и быть лучше 
						сегодня чем вчера. 
						Люблю путешествовать и пробовать что-то новое. Изучаю английский язык, также в планах изучить 
						итальянский "Ну нравится он мне Карл". 
						<p>Считаю, что нет нечего совершенного, всегда всё можно сделать лучше. Что-то может быть хорошим 
						лишь на данный момент.</p> 
						</p>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Что умею:</span>
					</a>
					<div class="dropdown-togle">
						<p>Кроссбраузерно верстаю сайты — фиксированные, резиновые или адаптивные. Придумываю и 
						стилизую промежуточные состояния интерактивных элементов, если дизайнер их не нарисовал. 
						Проектирую интерфейсы с нуля, переделываю, доделываю, вообщем везде могу добавить свой вклад )).  
						Добавляю анимации, если требуется оживить макет. Пишу скрипты для логики на стороне клиента. 
						Перед сдачей проекта оптимизирую производительность — сжимаю и склеиваю стили, 
						скрипты и картинки. Использую современные технологии. Пишу чистый и понятный код, который 
						легко поддерживать.</p>
						<p>Также могу писать серверную часть.</p>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Мой подход:</span>
					</a>
					<div class="dropdown-togle">
						<ul class="ul">
							<li>я вижу разницу в пару пикселей (слёзы наварачиваются когда вижу кривые сайты,
							так и хочется их переделать);</li>
							<li>я вижу разницу в размерах элементов (например неправильное соотношение 
							кнопки к блоку );</li>
							<li>придерживаюсь и являюсь техническим пропогандистом минимализма;</li>
							<li>иногда приходится выпиливать лишний код из библиотек (конечно только при 
							понимании того что я делаю);</li>
							<li>если вижу, что это не подходит, то стараюсь объяснить почему;</li>
							<li>во всём стараюсь внести свой перфекционизм;</li>
							<li>после написания кода, просматриваю где можно применить другую методологию, 
							для оптимизации потребляеммых ресурсов и увеличении скорости работы;</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Что мне интересно:</span>
					</a>
					<div class="dropdown-togle">
						<h6>В веб разработке:</h6>
						<ul class="ul">
							<li>работа с событиями (что происходит когда мы включаем свет, "резко загорется свет", правильно? 
							Я бы добавил 'transition: .1s;' для плавности.);</li>
							<li>анимация и всё что с ней связано (js animations, css animations, GSAP, svg animations);</li>
							<li>работа с графикой (WebGL, canvas, svg)</li>
							<li>разработка интерфейсов (PC, mobile, laptop, ...others);</li>
							<li>VR</li>
							<li>разработка полезных инструментов или ресурсов;</li>
						</ul>
						<h6>По жизни:</h6>
						<ul class="ul">
							<li>настоящие эмоции;</li>
							<li>самореализация, самовоспитание;</li>
							<li>просто поставить себе задачу и выполнить её лучше чем требуется;</li>
							<li>сноубординг;</li>
							<li>путишествия в места в которых редко кто бывает;</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Какие технологии я использую:</span>
					</a>
					<div class="dropdown-togle">
						<p>Этот список не полный и он переодически обнавляется (ну это маленький намёк на то, что я 
						постоянно учусь):</p>
						<ul class="tags">
							{% for category in categories %}
								<li>{{ category }}</li>
							{% endfor %}
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Куда планирую расти:</span>
					</a>
					<div class="dropdown-togle">
						<ul class="tags">
							<li>GSAP</li>
							<li>node js</li>
							<li>VR</li>
							<li>разработка интерфейсов под VR</li>
							<li>redux</li>
							<li>canvas animations</li>
							<li>js animations</li>
							<li>UI/UX design</li>
							<li>qt for native</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}