{% extends 'base.html' %}
{% load staticfiles %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
<nav class="col-xs-12 page-header">
	<h4>Обо мне</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Обо мне</li>
	</ul>
</nav>
<section class="col-xs-12 about">
	<div class="col-xs-12 about-content">
		<div class="col-xs-12 col-sm-3 about-me-small">
			<div class="col-xs-12 im">
				<img src="{% static 'img/foto.jpg' %}"/>
				<h3>volitilov</h3>
				<p>Вячеслав Кандауров</p>
				<p>Fullstack web-developer.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 about-me-big">
			<h3>Я веб разработчик, делаю сайты.</h3>
			<p>Разрабатываю с нуля, доработка существующих, редизайн сайтов,
			очистка от неиспользуеммого кода, рефакторинг кода,
			разработка отдельных элементов и скриптов.</p>
			<ul class="col-xs-12 widjet-tree">
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Коротко обо мне:</span>
					</a>
					<div class="dropdown-togle">
						<p>Про себя могу сказать, что мне нравится решать возникшие трудности, 
							считаю это вызовом. За время работы приходилось заниматься разными 
							направлениями и frontend, backend, devops, менеджмент. Пока выбрал 
							для себя backend, так как в этой области много чего интересного 
							например (DB, протоколы, сервера, api, OOP и мн. др.).</p> 
							<p>Я понимаю, 
							что в колонке про себя надо писать про себя, как человека, но я 
							только и делаю что читаю, пробую, перечитываю снова пробую или 
							занимаюсь экспериментами, а затем согласно своим экспериментам пробую 
							что-то написать. Поэтому большую часть времени я занимаюсь этим. 
							В оставшееся время я люблю дорогу (прогулки, путешествие, велик). 
							Люблю встречи с друзьями (соревнования, поездки).</p> 
						</p>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Что умею:</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<h5>Frontend</h5>
								<p>Кроссбраузерно верстаю сайты — фиксированные, резиновые или адаптивные. Придумываю и 
								стилизую промежуточные состояния интерактивных элементов, если дизайнер их не нарисовал. 
								Проектирую интерфейсы с нуля, переделываю, доделываю, вообщем везде могу добавить свой вклад )).  
								Добавляю анимации, если требуется оживить макет. Пишу скрипты для логики на стороне клиента. 
								Перед сдачей проекта оптимизирую производительность — сжимаю и склеиваю стили, 
								скрипты и картинки. Использую современные технологии. Пишу чистый и понятный код, который 
								легко поддерживать.</p>
							</li>
							<li>
								<h5>Backend</h5>
								<p>Могу писать сложные серверные приложения, которые мугут взоимодействовать
									с другими приложениями. Пишу парсеры, тесты, api. Внедряю защиты от уязвимостей. 
								</p>
							</li>
							<li>
								<h5>Other</h5>
								<p>Иногда пишу ботов, pip пакеты, просто консольные скрипты, gui-приложения.
									Могу добавить функционал или предложить исправления в opensource проекты.
								</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Мой подход:</span>
					</a>
					<div class="dropdown-togle">
						<ul class="ul">
							<li>я вижу разницу в пару пикселей (слёзы наварачиваются когда вижу кривые сайты,
							так и хочется их переделать</li>
							<li>я вижу разницу в размерах элементов (например неправильное соотношение 
							кнопки к блоку</li>
							<li>придерживаюсь и являюсь техническим пропогандистом минимализма</li>
							<li>если вижу, что это не подходит, то стараюсь объяснить почему</li>
							<li>во всём стараюсь внести свой перфекционизм</li>
							<li>после написания кода, просматриваю где можно применить другую методологию, 
							для оптимизации потребляеммых ресурсов и увеличении скорости работы</li>
							<li>если возникла проблема которую не понимаю то, стараюсь разбить проблему на 
								мелкие части и поочереди решаю их - это действеный метод 
							</li>
							<li>если я чего-то не понимаю то, стремлюсь понять (читаю источники, спрашиваю
								компетентных людей в данной облости, пробую на практике, анализирую
								результаты)</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Что мне интересно:</span>
					</a>
					<div class="dropdown-togle">
						<h5>В web разработке</h5>
						<ul class="ul">
							<li>визуализация больших данных</li>
							<li>анимация и всё что с ней связано (js animations, css animations, GSAP, svg animations)</li>
							<li>автоматизация</li>
							<li>разработка интерфейсов (PC, mobile, laptop, ...others)</li>
							<li>IoT</li>
							<li>разработка полезных инструментов или ресурсов</li>
						</ul>
						<br>
						<h5>По жизни</h5>
						<ul class="ul">
							<li>настоящие эмоции</li>
							<li>самореализация, самовоспитание</li>
							<li>просто поставить себе задачу и выполнить её лучше чем требуется</li>
							<li>сноубординг</li>
							<li>путишествия в места в которых редко кто бывает</li>
							<li>музыка</li>
							<li>мотоциклы</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Какие технологии я использую</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<h5>Вообще имел с эти дело</h5>
								<ul class="tags">
									<li>Flask</li>
									<li>PostgreSQL</li>
									<li>Jinja2</li>
									<li>Elasticsearch</li>
									<li>Html5</li>
									<li>CSS3</li>
									<li>Linux</li>
									<li>Ajax</li>
									<li>Javascript</li>
									<li>Reactjs</li>
									<li>Redux</li>
									<li>npm</li>
									<li>Nodejs</li>
									<li>JQuery</li>
									<li>Less</li>
									<li>ejs</li>
									<li>svg animation</li>
									<li>canvas</li>
									<li>Django</li>
									<li>gulp</li>
									<li>responsive</li>
									<li>photoshop</li>
									<li>sqlite</li>
									<li>ssh</li>
									<li>HTTP</li>
									<li>json</li>
									<li>pyqt</li>
									<li>git</li>
									<li>php</li>
									<li>sql</li>
									<li>bootstrap</li>
									<li>primer</li>
									<li>twisted</li>
									<li>es6</li>
									<li>vuejs</li>
									<li>rust</li>
								</ul>
							</li>
							<li>
								<h5>Использую на данный момент</h5>
								<ul class="tags">
									<li>git</li>
									<li>Flask</li>
									<li>PostgreSQL</li>
									<li>Jinja2</li>
									<li>Elasticsearch</li>
									<li>Html5</li>
									<li>CSS3</li>
									<li>Linux</li>
									<li>Ajax</li>
									<li>Javascript</li>
									<li>JQuery</li>
									<li>Less</li>
									<li>primer</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Какие инструменты и ресурсы я использую</span>
					</a>
					<div class="dropdown-togle">
						<ul class="ul">
							<li><b>vim</b> (для непосредственой работы с кодом)</li>
							<li><b>subleme</b> (для непосредственой работы с кодом)</li>
							<li><b>travis</b> (для автоматического запуска тестов при push-ах)</li>
							<li><b>ungit</b> (для работы с git)</li>
							<li><b>VSCode</b> (для непосредственой работы с кодом)</li>
							<li><b>Github</b> (для хранения и публикации кода)</li>
							<li><b>trello</b> (для управления проектами)</li>
							<li><b>bitbucket</b> (для  располажения приватных репозиториев)</li>
							<li><b>insomnia</b> (в elementary os для моделирования http запросо)</li>
							<li><b>regex tester</b> (в elementary os для работы c регулярными выражениями)</li>
							<li><b>sequeler</b> (в elementary os для работы c базами данных)</li>
							<li><b>gitter</b>, <b>skype</b>, <b>telegram</b> (для связи)</li>
						</ul>
					</div>
				</li>
				<li class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Куда планирую расти:</span>
					</a>
					<div class="dropdown-togle">
						<ul class="tags">
							<li>IoT</li>
							<li>Big Data</li>
							<li>Data visualization</li>
							<li>Ingenering</li>
							<li>English language</li>
							<li>Italian lanhuge</li>
							<li>Golang</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}