{% extends 'base.html' %}
{% load staticfiles %}
{% block style %} 
	<link href="{% static 'css/components/pagination.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/pages/frontend.css' %}" rel="stylesheet"/>
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<nav class="col-xs-12 page-header">
		<h4>Frontend</h4>
		<ul class="site-breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><i class="fa fa-angle-right"></i></li>
			<li>Frontend</li>
		</ul>
	</nav>
	<section class="col-xs-12 frontend">
		<article>
			<ul>
                {% for w in works %}
                    {% include 'components/_portfolio-item.html' %}
                {% endfor %}
			</ul>
		</article>
		<div class="pagination">
			<ul>
				{% if works.has_previous %}
					<li><a class="next" href="?page={{ works.previous_page_number }}">предыдущая</a></li>
					<li><a href="?page=1">1</a></li>
					<li class="current"><a>...</a></li>
				{% endif %}
				{% if works.paginator.num_pages != 1 %}
					<li class="current"><a>{{ works.number }}</a></li>
				{% endif %}
				{% if works.has_next %}
					<li class="current"><a>...</a></li>
					<li><a href="?page={{ works.paginator.num_pages }}">{{ works.paginator.num_pages }}</a></li>
					<li><a class="next" href="?page={{ works.next_page_number }}">следующая</a></li>
				{% endif %}
			</ul>
				
		</div>
	</section>
{% endblock %}