{% extends 'base.html' %}
{% load staticfiles %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<section class="col-xs-12 home">
		<article>
			<ul>
				<li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
					<div class="col-xs-12 wraper">
						<figure>
							<a href="{% url 'backend' %}" title="backend" target="_blank">
								3
							</a>
							<figcaption>
								<a class="btn-blue" href="{% url 'backend' %}" title="backend">Backend</a>
							</figcaption>
						</figure>
					</div>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
					<div class="col-xs-12 wraper">
						<figure>
							<a href="{% url 'frontend' %}" title="backend" target="_blank">
								6
							</a>
							<figcaption>
								<a class="btn-blue" href="{% url 'frontend' %}" title="frontend" rel="bookmark">Frontend</a>
							</figcaption>
						</figure>
					</div>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
					<div class="col-xs-12 wraper">
						<figure>
							<a href="#" title="backend" target="_blank">
								15
							</a>
							<figcaption>
								<a class="btn-blue" href="{% url 'other' %}" title="other" rel="bookmark">Другое</a>
							</figcaption>
						</figure>
					</div>
				</li>
			</ul>
		</article>
	</section>
{% endblock %}