{% extends 'base.html' %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
<nav class="col-xs-12 page-header">
	<h4>Мои услуги</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Услуги</li>
	</ul>
</nav>
<section class="col-xs-12 services">
	<div class="col-xs-12 wraper">
		<div class="col-xs-12">
			<h4>На данный момент я оказываю нижеуказанные услуги.</h4>
			<div class="widjet-tree wt1">
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Фронтенд разработка</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Адаптивная, кросбраузерная вёрстка. Сюда входит: доделать, сделать, переделать.</span> 
								<span>от 20$/час</span>
							</li>
							<li>
								<span>Разработка дизайна (стоимость зависит от кол-во страниц и сложности проекта)</span> 
								<span>от 100$</span>
							</li>
							<li>
								<span>Редизайн сайта (стоимость зависит от кол-во страниц и сложности проекта)</span> 
								<span>от 50$</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Создание Сайта [Домен, Хостинг, Поддержка]</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Создание Сайта-Визитки</span> 
								<span>50$ - 500$</span>
							</li>
							<li>
								<span>Создание блогов</span> 
								<span>50$ - 500$</span>
							</li>
							<li>
								<span>Создание Интернет-Магазина</span> 
								<span>50$ - 600$</span>
							</li>
							<li>
								<span>Создание Web-service</span> 
								<span>100$ - 1000$</span>
							</li>
							<li>
								<span>Регистрация и продление Домена</span>
								<span>5$ - 10$</span>
							</li>
							<li><span>Регистрация и продление Хостинга</span>
								<span>15$ - 50$</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Поддержка сайта: добавление/изменение информации, техническое обслуживание</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Разовая поддержка сайта. Разовое добавление/изменение контента (изменить телефон, адрес, текст страницы, фотографии и т.п.)</span>
								<span>5$</span>
							</li>
							<li>
								<span>Ежемесячная поддержка сайта</span> 
								<span>20$ - 100$</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Улучшения для работы с сайтом и почтой.</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Установка Онлайн-Консультанта на сайт</span>
								<span>50$</span>
							</li>
							<li>
								<span>Настройка Яндекс или Mail Почты для Домена</span>
								<span>40$</span>
							</li>
							<li>
								<span>Настройка Системы почтовой рассылки</span>
								<span>90$</span>
							</li>
							<li>
								<span>Подключения Яндекс сервиса отслеживания статусов рассылок</span>
								<span>25$</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- <div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Анализ и аудит веб-сайта.</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>SEO анализ страниц Вашего сайта</span>
								<span>20$</span>
							</li>
							<li>
								<span>Проверка на то как выглядит Ваш сайт на разных устройствах</span> 
								<span>20$</span>
							</li>
							<li>
								<span>Технический анализ ~ 100 страниц. Анализ сайта на дублирование и наличие несуществующих страниц, анализ ошибок в навигационной структуре сайта, анализ верстки сайта, анализ времени загрузки страниц, анализ настроек сервера, анализ файла robots.txt и многое другое.</span>
								<span>30$</span>
							</li>
							<li>
								<span>Технический анализ ~ 1 000 страниц. Анализ сайта на дублирование и наличие несуществующих страниц, анализ ошибок в навигационной структуре сайта, анализ верстки сайта, анализ времени загрузки страниц, анализ настроек сервера, анализ файла robots.txt и многое другое.</span>
								<span>150$</span>
							</li>
							<li>
								<span>Подробный SEO-аудит сайта. Цель – повысить позиции и увеличить трафик из поисковых систем. Определяю причины стагнации SEO. Даю рекомендации по исправлению ошибок, допущенных в ходе продвижения проекта. Расширяю пул целевых поисковых запросов.</span>
								<span>от 500$</span>
							</li>
							<li>
								<span>Анализ юзабилити сайта. Анализ с позиций поведения на нем среднестатистического пользователя, для владельца веб-ресурса полезен тем, что дает ценную информацию: какие элементы сайта и каким образом влияют на конверсию; что нравится и не нравится пользователям в интерфейсе сайта; какова типичная схема поведения пользователя на сайте и многое другое.</span>
								<span>250$</span>
							</li>
							<li>
								<span>Анализ конкурентов. Комплексный анализ интернет маркетинга Ваших конкурентов. Сравнение сильных и слабых сторон конкурентов. Составление стратегического плана действий и рекомендаций по выходу на лидирующие позиции и их удержанию.</span>
								<span>от $250</span>
							</li>
							<li>
								<span>Комплексный Анализ Веб-сайта. Установка систем статистики и анализа, оценка всех источников трафика и его качества, анализ поведения посетителей на сайте, юзабилити сайта, комплексный анализ конкурентов и составление рекомендаций по решению технических и маркетинговых задач для увеличения отдачи Вашего сайта, а так же его вывода и удержания на лидирующих позициях в Интернет.</span>
								<span>от $600</span>
							</li>
						</ul>
					</div>
				</div> -->
				<!-- <div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>SEO - Продвижение сайта.</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Семантическое ядро сайта ~ 500 ключевых слов</span>
								<span>50$</span>
							</li>
							<li>
								<span>Семантическое ядро сайта ~ 1 000 ключевых слов</span>
								<span>100$</span>
							</li>
							<li>
								<span>Продвижение по поисковым запросам (из семантич. ядра). Продвижение сайта в поисковых системах и выведение в ТОП-10 (первая страница) по одному ключевому запросу. Для каждого запроса рассчитывается индивидуально.</span>
								<span>от 150$/в месяц - индивидуально</span>
							</li>
							<li>
								<span>Комплексное продвижение статьями. Написание уникальных статей по вашей тематике = 100 шт. и размещение их на тематических ресурсах.</span>
								<span>от 1200$</span>
							</li>
						</ul>
					</div>
				</div> -->
				<!-- <div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Реклама - Привлечение посетителей / клиентов.</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Контекстная реклама - Я.Директ, Adwords, Майл.Таргет. Цель - Быстрое привлечение целевых посетителей на страницы сайта. Профессиональное составление рекламных текстов и заголовков в соответствии с правилами и требованиями поисковых систем. Ведение рекламной кампании нашими специалистами, автоматический мониторинг каждые 7 минут, аналитика количества и качества посетителей.</span>
								<span>от 70$/в месяц - индивидуально</span>
							</li>
						</ul>
					</div>
				</div> -->
				<!-- <div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>SMM - Создание и ведение групп в социальных сетях.</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Создание странички или сообщества</span>
								<span>50$</span>
							</li>
							<li>
								<span>Дизайн группы/страницы и разработка навигации</span>
								<span>100$ - 200$</span>
							</li>
							<li>
								<span>Ведение групп (15-20 постов в месяц)</span>
								<span>от 300$ за группу</span>
							</li>
							<li>
								<span>Продвижение и Таргетированая реклама социальных сетях</span>
								<span>от 100$</span>
							</li>
						</ul>
					</div>
				</div> -->
				<!-- <div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Написание статей, разработка баннеров, логотипов, favicon.</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<span>Статья ~ 1 000 символов + фото с сайта</span>
								<span>8$</span>
							</li>
							<li>
								<span>Статья ~ 2 000 символов + 2 фото с сайта</span>
								<span>15$</span>
							</li>
							<li>
								<span>Баннеры статичные JPG PNG GIF. Популярные форматы: 728 x 90, 120 x 600, 468 x 60, 125 x 125, 100 x 100, 120 x 60, 120 x 60, 88 x 31.</span>
								<span>от 25$</span>
							</li>
							<li>
								<span>Баннеры анимированные GIF. Популярные форматы: 728 x 90, 120 x 600, 468 x 60, 125 x 125, 100 x 100, 120 x 60, 120 x 60, 88 x 31.</span>
								<span>от 50$</span>
							</li>
							<li>
								<span>Логотип для сайта. Заполняете бриф и по нему Вам будет представлено 3 варианта логотипа на выбор</span>
								<span>от 100$</span>
							</li>
							<li>
								<span>Виджет сайта для табло закладок. Красивое отображение сайта в табло закладок браузера</span>
								<span>от 30$</span>
							</li>
							<li>
								<span>Иконка сайта - favicon. Маленькая иконка во вкладке браузера(слева от названия страницы) </span>
								<span>15$</span>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
		<div class="col-xs-12 dop-info">
			<p>Окончательная стоимость комплекса моих услуг определяется для каждого проекта индивидуально и зависит от многих факторов.</p>
			<p>Для постоянных клиентов предусмотрены дополнительные скидки и бонусы!</p>
		</div>
		<div class="col-xs-12">
			<div class="widjet-tree wt2">
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Схема работы со мной ?</span>
					</a>
					<div class="dropdown-togle">
						<ul>
							<li>
								<h5>ОПРЕДЕЛЕНИЯ НАПРАВЛЕНИЯ</h5>
								<p>Я задаю вам ряд уточняющих вопросов о вашем бизнесе и 
								продукте чтобы определить какой нужен вам сайт</p>
							</li>
							<li>
								<h5>АНАЛИЗ</h5>
								<p>Прежде, чем приступить к работе я изучаю информацию, 
								полученную от вас, а также определяю целевую аудиторию будущего сайта</p>
							</li>
							<li>
								<h5>СОСТАВЛЕНИЕ ТЕХНИЧЕСКОГО ЗАДАНИЯ</h5>
								<p>В процессе обсуждения я фиксирую задачи которые должен решать 
								сайт и подбираю функционал для сайта</p>
							</li>
							<li>
								<h5>ВЫБОР ВАРИАНТОВ</h5>
								<p>Я предлагаю варианты реализации сайта с учетом ваших пожеланий, 
								вы утверждаете тот вариант который больше всего нравится</p>
							</li>
							<li>
								<h5>УТВЕРЖДЕНИЕ, ПО НЕОБХОДИМОСТИ ПРЕДОПЛАТА (20%)</h5>
								<p>Убеждаюсь, что будущий сайт, включая дизайн и функционал, нравится вам 
								и полностью решает все поставленные задачи, приступаю к разработке</p>
							</li>
							<li>
								<h5>ВЕРСТКА И ПРОГРАММИРОВАНИЕ</h5>
								<p>Разработка сайта производится на моем тестовом хостинге, где в любой 
								момент вы можете посмотреть что реализовано, а что еще в процессе разработки</p>
							</li>
							<li>
								<h5>ВЫБОР ХОСТИНГА И ПЕРЕНОС САЙТА</h5>
								<p>По завершению разработки я помогаю подобрать подходящий домен и хостинг куда 
								будет перенесен сайт. Переношу сайт с тестового хостинга на ваш</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 dop-info2">
			<h4>Остались вопросы?</h4>
			<p>Если у вас остались вопросы то поситите страницу с <a href="{% url 'info' %}" title="info">информацией</a>. 
			Если вы там уже были и всёравно у вас остались вопросы, то вам <a href="{% url 'contacts' %}" title="contacts">сюда</a>.</p>
		</div>
	</div>
</section>
{% endblock %}